$mouse-x: 0deg
$mouse-y: 0deg

main 
  padding: 10rem
  z-index: 1
  
  h1
    text-align: center

  section
    width: 80%
    display: grid
    flex-direction: row
    grid-template-columns: repeat(3, 15rem)
    justify-content: center
    gap: 4rem 2rem
    margin: 0 auto

    h1
      margin: 0

  // article:hover
  //   cursor: pointer
  //   transform: rotateX($mouse-y)

  article
    transform: rotateX(var(--mouse-y)) rotateY(var(--mouse-x))
    filter: drop-shadow(1rem 1rem 0.5rem black)
    border: 1px solid white
    border-radius: 20px
    width: 15rem
    height: 15rem
    transition: all 1s ease

    img
      user-select: none
      border-radius: inherit
      height: 100%
      width: 100%