.top-navbar
  display: flex
  width: 100%
  padding: 1rem 5rem
  border-bottom: 1px solid white

  h2
    margin: 0 2rem
    transition: color 100ms ease
    user-select: none

  h2:hover
    color: $hovered-text
    cursor: pointer

  h2:first-of-type
    margin-right: auto

  h2:not(:first-of-type)
    padding: 0